.movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
  }
  
 
  
  
  
  .movie {
    padding: 70px 20px 10px 20px;
    width: 300px;
    
    margin: auto;
    border: 5px solid white;
    img {
      margin: auto;
      width: 300px;
    }
    h4 {
      text-align: center;
      color: honeydew;
    }
    p {
      text-align: center;
      color: honeydew;
    }
  }
  
  .errorMessage {
    padding-top: 80px;
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
  }
  